html, body {
    box-sizing: border-box;
    background: var(--theme-accent-dark) !important;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

div {
    color: var(--theme-text-secondary) !important;
}

a {
    color: var(--theme-accent-light) !important;
}

a:hover {
    color: var(--theme-accent-dark) !important;
}

.login-widget {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--theme-background) !important;
}

.app-title {
    text-align: center;
    color: var(--theme-text-secondary) !important;
}

input {
    text-align: center;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    transition: border .5s;
    color: var(--theme-text-form) !important;
}

.form-control:focus {
    border-color: var(--theme-accent-light) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px var(--theme-accent-light) !important;
}

label {
    color: var(--theme-text-secondary) !important;
}

.btn {
    background-color: var(--theme-accent-light) !important;
    color: var(--theme-text-form) !important;
    width: 100%;
    margin: 0 auto;
}

.btn:hover {
    background-color: var(--theme-accent-dark) !important;
    color: var(--theme-text-primary-dark) !important;
}

.error {
    margin: 0;
    padding: 0;
    color: red;
}

ul {
    list-style-type: none;
}

td {
    white-space: nowrap;
    overflow: hidden;
}
