html, body {
    margin: 0;
    height: 100%;
}

nav {
    display: table;
    font-size: 25px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: list-item;
}

ul.nav {
    margin: 0px;
    display: table-cell;
}

li.nav {
    height: 1em;
    float: left;
    margin: 0;
    border-right: 1px solid #aaa;
    padding: 0 20px;
}

li.nav:last-child {
    border-right: none;
}

li.nav a {
    text-decoration: none;
    color: #ccc;
    font: 1em/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

li.nav a:hover {
    color: #666;
}

li.nav.active a {
    font-weight: bold;
    color: #333;
}

/* Id's */
#app-holder {
    max-width: 600px;
    min-width: 300px;
    height: 100%;
}

#page-background {
    height: 100%;
    overflow: auto;
    background-color: #f4f4f4;
}

#app-background {
    background-color: #fff;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin-top: 48px;
    padding: 30px;
}

#top-bar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #3498DB;
    -moz-box-shadow: 0 4px 5px 5px #ccc;
    -webkit-box-shadow: 0 4px 5px 5px #ccc;
    box-shadow: 0 3px 2px #ccc;
    z-index: 200;
}

/* Classes */
.margin-center-horizontal {
    margin-right: auto;
    margin-left: auto;
}

.center-children {
    text-align: center;
}

.task-list {
    font-size: 14px;
    margin-bottom: 20px;
}

.task-list:last-child {
    border-bottom: 1px dashed #aaa;
}

.task {
    border-top: 1px dashed #aaa;
}

.checker {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 10px;
}

.complete-btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    border: 1px solid #999;
    display: block;
    justify-content: center;
    background-size: 2px 2px;
    background-color: transparent;
    transition: background-color 150ms ease-in;
}

.complete-btn:hover {
    background-color: #e1e1e1;
}

.delete-btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid #bbb;
    text-align: center;
    background-color: #e53a20;
}

.task-content {
    max-width: 500px;
    width: 100%;
    cursor: text;
}
