html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
    background-color: var(--theme-accent-dark) !important;
    color: var(--theme-text-primary) !important;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: list-item;
}

ul.nav {
    margin: 0px;
    display: table-cell;
}

li.nav {
    height: 1em;
    float: left;
    margin: 0;
    border-right: 1px solid #aaa;
    padding: 0 20px;
}

li.nav:last-child {
    border-right: none;
}

li.nav a {
    text-decoration: none;
    color: #ccc;
    font: 1em/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

li.nav a:hover {
    color: #666;
}

li.nav.active a {
    font-weight: bold;
    color: #333;
}

/* Id's */
#page-background {
    height: 100%;
    overflow: auto;
}

#app-background {
    background-color: var(--theme-background);
    max-width: 600px;
    min-width: 300px;
    height: 100%;
    overflow-y: auto;
    -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

#top-bar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #3498DB;
}

#app-holder {
    padding: 30px;
    padding-top: 96px;
}

#task-edit-submit {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 8px;
    margin-right: 3px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    color: var(--theme-text-primary);
    background-color: var(--theme-accent);
}

#task-edit-submit:hover {
    color: var(--theme-text-primary-dark);
    background-color: var(--theme-accent-dark);
}

#edit-task-description {
    background-color: var(--theme-background-light);
}

/* Classes */
.margin-center-horizontal {
    margin-right: auto;
    margin-left: auto;
}

.center-children {
    text-align: center;
}

.task-list {
    font-size: 14px;
    margin-bottom: 20px;
}

.checker {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 10px;
}

.complete-btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    border: 2px solid var(--theme-accent);
    display: block;
    justify-content: center;
    background-size: 2px 2px;
    background-color: transparent;
    transition: background-color 150ms ease-in;
}

.complete-btn:hover {
    background-color: var(--theme-accent);
}

.delete-btn {
    height: 32px;
    cursor: pointer;
    border: 1px solid #ab2915;
    border-radius: 3px;
    text-align: center;
    padding: 6px;
    padding-top: 3px;
    color: #ab2915;
    transition: background-color 150ms ease-in;
    transition: color 150ms ease-in;
}

.delete-btn:hover {
    color: var(--theme-text-secondary);
    background-color: #e0180d;
}

.task:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.task {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.task-content {
    max-width: 500px;
    width: 100%;
    padding: 13px;
}

.task-description {
    cursor: text;
}

.task-edit {
    padding-top: 13px;
    padding-bottom: 13px;
}

.text-edit {
    font-size: 14px;
    min-height: 21px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px;
    padding-top: 6px;
    outline: 0;
}

.cancel {
    display: inline-block;
    margin-top: 3px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.cancel:hover {
    text-decoration: underline;
    color: #FFF;
}

.drop-shadow {
    -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
}
