html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
    background-color: var(--theme-accent-dark) !important;
    color: var(--theme-text-primary) !important;
}

ul {
    list-style-type: none;
    margin: 0px !important;
    padding: 0px;
}

li {
    display: list-item;
}

i {
    color: var(--theme-accent);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

i:hover {
    color: var(--theme-accent-dark);
}

ul.nav {
    margin: 0px;
    display: table-cell;
}

li.nav {
    height: 1em;
    float: left;
    margin: 0;
    border-right: 1px solid #aaa;
    padding: 0 20px;
}

li.nav:last-child {
    border-right: none;
}

li.nav a {
    text-decoration: none;
    color: #ccc;
    font: 1em/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

li.nav a:hover {
    color: #666;
}

li.nav.active a {
    font-weight: bold;
    color: #333;
}

/* Id's */
#page-background {
    height: 100%;
    overflow: auto;
}

#app-background {
    background-color: var(--theme-background);
    max-width: 600px;
    min-width: 300px;
    height: 100%;
    overflow-y: auto;
    -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

#top-bar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #3498DB;
}

#logout-icon {
    position: relative;
    top: 6px;
    left: 2px;
}

#logout-icon:hover {
    color: var(--theme-accent);
}

#app-holder {
    padding: 30px;
    padding-top: 96px;
}

#other-tasks-header {
    margin-top: 50px;
}

#task-edit-submit {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 8px;
    margin-right: 3px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    color: var(--theme-text-primary);
    background-color: var(--theme-accent);
}

#task-edit-submit:hover {
    color: var(--theme-text-primary-dark);
    background-color: var(--theme-accent-dark);
}

#edit-task-description {
    background-color: var(--theme-background-light);
}

/* Classes */
.nav-item.active {
    border-bottom: 3px solid var(--theme-accent);
}

.navbar-right {
    margin-left: auto;
}


.margin-center-horizontal {
    margin-right: auto;
    margin-left: auto;
}

.center-children {
    text-align: center;
}

.task {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-bottom: 10px;
}

.task-item {
    display: flex;
    align-items: center;
}

.task-item-part {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 13px;
    padding-left: 6px;
    padding-right: 6px;
}

.task-item {
    margin-left: 6px;
    margin-right: 6px;
}

.checker {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 10px;
}

.complete-btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    border: 2px solid var(--theme-accent);
    display: block;
    justify-content: center;
    background-size: 2px 2px;
    background-color: transparent;
    transition: background-color 150ms ease-in;
}

.complete-btn:hover {
    background-color: var(--theme-accent);
}

.task-btn {
    height: 32px;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    padding: 6px;
    padding-top: 3px;
    transition: background-color 150ms ease-in;
    transition: color 150ms ease-in;
}

.delete-btn {
    border: 1px solid #ab2915;
    color: #ab2915;
}

.delete-btn:hover {
    color: var(--theme-text-secondary);
    background-color: #e0180d;
}

.undo-btn {
    border: 1px solid var(--theme-accent);
    color: var(--theme-accent);
}

.undo-btn:hover {
    color: var(--theme-text-secondary);
    background-color: var(--theme-accent-dark);
}


.task-content {
    max-width: 500px;
    width: 100%;
    overflow-x: hidden;
    padding: 13px;
    cursor: text;
}

.badge {
    margin-top: 5px;
    margin-right: 5px;
}

.task-description {
    width: 100%;
    overflow-x: hidden;
}

.task-edit {
    padding: 13px;
}

.text-edit {
    font-size: 14px;
    min-height: 21px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px;
    padding-top: 6px;
    outline: 0;
}

.cancel {
    display: inline-block;
    margin-top: 3px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.cancel:hover {
    text-decoration: underline;
    color: #FFF;
}

.td_submit {
    white-space: nowrap;
}

.td_extra {
    width: 100% !important;
}

.extra-item {
    cursor: pointer;
    padding: 5px;
}

.icon-list {
    position: absolute;
    margin-right: 0;
    margin-left: auto;
    display: none;
    padding: 4px;
    width: 250px;
    text-align: left;
    background-color: var(--theme-background-light) !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.tag-item {
    display: block;
    padding: 4px;
    padding-bottom: 6px;
    color: var(--theme-text-primary) !important;
    border-bottom: 1px solid var(--theme-background) !important;
    text-decoration: none !important;
    outline: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tag-item.active {
    font-weight: bold;
}

.overflow-item {
    display: inline-block;
    width: 100%;
    padding: 4px;
    padding-bottom: 6px;
    color: var(--theme-text-primary) !important;
    text-decoration: none !important;
}

.overflow-item:hover {
    color: var(--theme-text-secondary) !important;
}

.tag-item:last-of-type {
    border-bottom: none !important;
}

.drop-shadow {
    -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
}

.ui-icon {
    cursor: move;
    margin: 0 !important;
}

.ui-icon.accent-icon {
    background-image: url('img/accent-ui-icons.png');
}

.icon-btn {
    cursor: pointer;
}