:root {
    --theme-background: #343a40;
    --theme-background-light: #6c757d;
    --theme-accent: #50d39a;
    --theme-accent-dark: #229664;
    --theme-text-primary: #fff;
    --theme-text-primary-dark: #eee;
    --theme-text-secondary: #bbb;
    --theme-text-form: black;
}
