:root {
    --theme-background: #343a40;
    --theme-background-light: #454a4f;
    --theme-background-lighter: #6c757d;
    --theme-background-dark: #1f262d;
    --theme-accent-light: #50d39a;
    --theme-accent: #33af79;
    --theme-accent-dark: #229664;
    --theme-text-primary: #fff;
    --theme-text-primary-dark: #eee;
    --theme-text-secondary: #bbb;
    --theme-text-form: black;

    --theme-accent-rgb: 80, 211, 154;
    --theme-accent-dark-rgb: 34, 150, 100;
}
