{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/front_page.css">
{% endblock %}
{% block content %}
    <div id="background">
        <div class="headline">
            <h1>Conquer your life, one day at a time.</h1>
            <span>More than just a simple todo-list. It offers easy-to-use features to manage your day.</span>
        </div>
        <div class="link-section">
            <a href="auth/login">Login</a>
            <a href="auth/register">Register</a>
        </div>
        <div class="content-background">
            <div class="feature-wrapper feature-wrapper-text-right">
                <div class="image-container">
                    <img src="/static/img/demo1.png" alt="Demo picture 1" style="width: 100%">
                </div>
                <div class="text-container">
                    <h3>Beautiful UI.</h3>
                </div>
            </div>
            <div class="feature-wrapper feature-wrapper-text-left">
                <div class="text-container">
                    <h3>Easy to use.</h3>
                </div>
                <div class="image-container">
                    <img src="/static/img/demo2.png" alt="Demo picture 2" style="width: 100%">
                </div>
            </div>
            <div class="feature-wrapper feature-wrapper-text-right">
                <div class="image-container">
                    <img src="/static/img/demo3.png" alt="Demo picture 3" style="width: 100%">
                </div>
                <div class="text-container">
                    <h3>Tag 'em all.</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
