<link rel="stylesheet" type="text/css" href="/static/auth.css">
{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('auth_register') }}" method="POST">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Register</h1>
                </div>
                <div class="login-form">
                    <div class="control-group">
                        <table>
                            <tr>
                                <td>
                                    {{ form.username.label }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="error">
                                    {% for error in form.username.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                    <p class="error">{{ registration_error }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.username }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="control-group">
                        <table>
                            <tr>
                                <td>
                                    {{ form.password.label }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="error">
                                    {% for error in form.password.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.password }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="control-group">
                        <table>
                            <tr>
                                <td>
                                    {{ form.confirm.label }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.confirm }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <input type="submit" value="Register" class="btn">
                    <br>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
