{% macro task_list(tasks, tags) %}
    {% for task in tasks %}
        <li id="task-{{ task.id }}" class="task">
            <div class="task-item">
                <div class="task-item-part sortable-handle">
                    <span class="accent-icon material-icons">drag_handle</span>
                </div>
                <div class="task-item-part checker">
                    <div class="complete-btn"></div>
                </div>
                <div class="task-item-part task-content">
                    <div class="text-white task-description">{{ task.description }}</div>
                    {% for tag in tags[task.id] %}
                        <span id="badge-tag-{{ tag.id }}" class="badge badge-pill badge-primary">{{ tag.name }}</span>
                    {% endfor %}
                </div>
                <div class="task-item-part">
                    <div class="task-btn delete-btn">Delete</div>
                </div>
                <div class="task-item-part">
                    <i class='overflow-icon icon-btn material-icons'>more_vert</i>
                </div>
            </div>
        </li>
    {% endfor %}
{% endmacro %}

{% macro done_list(done_tasks, tags) %}
    {% for done_task in done_tasks %}
        <li id="task-{{ done_task.id }}" class="task">
            <div class="task-item">
                <div class="task-item-part task-content">
                    <div class="text-white task-description">{{ done_task.description }}</div>
                    {% for done_tag in tags[done_task.id] %}
                        <span id="badge-tag-{{ done_tag.id }}" class="badge badge-pill badge-primary">{{ done_tag.name }}</span>
                    {% endfor %}
                </div>
                <div class="task-item-part">
                    <div class="task-btn undo-btn">Undo</div>
                </div>
                <div class="task-item-part">
                    <div class="task-btn delete-btn">Delete</div>
                </div>
                <div class="task-item-part">
                    <i class='overflow-icon icon-btn material-icons'>more_vert</i>
                </div>
            </div>
        </li>
    {% endfor %}
{% endmacro %}

{% macro overflow_menu() %}
    <div class="icon-list overflow-list">
        <a id="move-1" class="overflow-item" href="#">Move to Today</a>
        <a id="move-2" class="overflow-item" href="#">Move to Tomorrow</a>
        <a id="move-3" class="overflow-item" href="#">Move to This week</a>
    </div>
{% endmacro %}
