{% extends "tasks/tasks_layout.html" %}
{% block title %}Today{% endblock %}
{% block content %}
    {% if tasks %}
        <ul class="task-list">
            {% for task in tasks %}
                <li id="task_{{ task.id }}" class="task">
                    <table>
                        <tbody>
                            <tr id="table_row">
                                <td id="table_column" class="checker">
                                    <div class="complete-btn"></div>
                                </td>
                                <td class="task-content">
                                    <div class="task-description">{{ task.description }}</div>
                                </td>
                                <td>
                                    <div class="delete-btn">x</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No tasks</h3>
    {% endif %}
{% endblock %}
{% block nav_tomorrow %} <li class="nav active"><a href="{{ url_for('tasks_tomorrow') }}">Tomorrow</a></li> {% endblock %}
