{% extends "tasks/tasks_layout.html" %}
{% import "tasks/macros.html" as macros %}
{% block title %}Today{% endblock %}
{% block content %}
    {% if tasks %}
        <ul id="sortable">
            {{ macros.task_list(tasks, tags, true) }}
        </ul>
    {% endif %}

    {% if done_tasks %}
        <ul>
            {{ macros.task_list(done_tasks, tags, false) }}
        </ul>
    {% endif %}

    {% if not tasks and not done_tasks %}
        <h3>No tasks</h3>
    {% else %}
        {{ macros.overflow_menu() }}
    {% endif %}

    {{ macros.add_task_form(form) }}
{% endblock %}
{% block nav_tomorrow %} <a class="nav-item nav-link active" href="{{ url_for('tasks_tomorrow') }}">Tomorrow</a> {% endblock %}
