{% extends "tasks/tasks_layout.html" %}
{% block title %}Today{% endblock %}
{% block content %}
    {% if current_task %}
        <ul class="task-list">
            <li id="task_{{ current_task.id }}" class="task">
                <table>
                    <tbody>
                        <tr>
                            <td class="checker">
                                <div class="complete-btn"></div>
                            </td>
                            <td class="task-content">
                                <div class="text-white task-description">{{ current_task.description }}</div>
                            </td>
                            <td>
                                <div class="delete-btn">x</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    {% else %}
        <h3 class="color-white">No tasks!</h3>
    {% endif %}
{% endblock %}
{% block nav_today %} <a class="nav-item nav-link active" href="{{ url_for('tasks_today') }}">Today</a> {% endblock %}
