{% extends "tasks/tasks_layout.html" %}
{% block title %}Today{% endblock %}
{% block content %}
    {% if tasks or done_tasks %}
        <ul id="sortable">
            {% for task in tasks %}
                <li id="task-{{ task.id }}" class="task">
                    <div class="task-item">
                        <div class="task-item-part sortable-handle">
                            <span class="ui-icon accent-icon ui-icon-grip-dotted-vertical"></span>
                        </div>
                        <div class="task-item-part checker">
                            <div class="complete-btn"></div>
                        </div>
                        <div class="task-item-part task-content">
                            <div class="text-white task-description">{{ task.description }}</div>
                            {% for tag in tags[task.id] %}
                                <span id="badge-tag-{{ tag.id }}" class="badge badge-pill badge-primary">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                        <div class="task-item-part">
                            <div class="task-btn delete-btn">Delete</div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <ul>
            {% for task in done_tasks %}
                <li id="task-{{ task.id }}" class="task">
                    <div class="task-item">
                        <div class="task-item-part task-content">
                            <div class="text-white task-description">{{ task.description }}</div>
                            {% for tag in tags[task.id] %}
                                <span id="badge-tag-{{ tag.id }}" class="badge badge-pill badge-primary">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                        <div class="task-item-part">
                            <div class="task-btn undo-btn">Undo</div>
                        </div>
                        <div class="task-item-part">
                            <div class="task-btn delete-btn">Delete</div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No tasks</h3>
    {% endif %}
{% endblock %}
{% block nav_tomorrow %} <a class="nav-item nav-link active" href="{{ url_for('tasks_tomorrow') }}">Tomorrow</a> {% endblock %}
