{% macro task_list(tasks, tags, sortable) %}
    {% for task in tasks %}
        <li id="task-{{ task.id }}" class="task">
            {{ task_item(task, tags, sortable) }}
        </li>
    {% endfor %}
{% endmacro %}

{% macro task_item(task, tags, sortable) %}
    <div class="task-item">
        {% if sortable %}
            <div class="task-item-part sortable-handle">
                <span class="icon icon-draggable accent-color material-icons">drag_handle</span>
            </div>
        {% endif %}
        {% if not task.is_completed %}
            <div class="task-item-part checker">
                <div class="complete-btn complete-task-btn"></div>
            </div>
        {% endif %}
        <div class="task-item-part task-content">
            <div class="text-white task-description">{{ task.description }}</div>
            {% for tag in tags[task.id] %}
                <span id="badge-tag-{{ tag.id }}" class="badge badge-pill badge-primary">
                    {{ tag.name }}
                </span>
            {% endfor %}
        </div>
        {% if task.is_completed %}
            <div class="task-item-part">
                <div class="icon task-btn theme-btn undo-task-btn">
                    <span class="icon icon-btn material-icons">undo</span>
                </div>
            </div>
        {% endif %}
        <div class="task-item-part">
            <span class="icon overflow-icon icon-btn accent-color material-icons">more_vert</span>
        </div>
    </div>
{% endmacro %}

{% macro overflow_menu() %}
    <div class="icon-list overflow-list">
        <a id="order-up" class="overflow-item" href="#">Move up</a>
        <a id="order-down" class="overflow-item" href="#">Move down</a>
        <a id="move-1" class="overflow-item" href="#">Send to Today</a>
        <a id="move-2" class="overflow-item" href="#">Send to Tomorrow</a>
        <a id="move-3" class="overflow-item" href="#">Send to This week</a>
        <div class="overflow-divider"></div>
        <a id="delete" class="overflow-item" href="#">Delete task</a>
    </div>
{% endmacro %}

{% macro add_task_form(form) %}
    <form id="new_task_form" action="{{ url_for('new_task') }}" method="POST">
        <div class="form-group">
            {{ form.description.label }}
            <div>
                {{ form.description }}
            </div>
            <ul>
                {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <input type="submit" value="Add task">
       </div>
    </form>
{% endmacro %}
