{% extends "tags/tags_layout.html" %}
{% block title %}Tags{% endblock %}
{% block content %}
    <p class="app-header app-header-secondary">TAGS</p>
    <div class="app-content">
        <ul>
            {% for tag in tags %}
                <li id="tag-{{ tag.id }}" class="tag">
                    <div class="tag-item">
                        <div class="tag-name">{{ tag.name }}</div>
                        <div class="tag-item-part">
                            <div class="tag-btn theme-btn edit-tag-btn">
                                <span class="icon icon-btn material-icons">mode_edit</span>
                            </div>
                        </div>
                        <div class="tag-item-part">
                            <div class="tag-btn theme-btn delete-tag-btn">
                                <span class="icon icon-btn material-icons">delete</span>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="theme-btn icon-btn add-tag-btn" href="/tags/edit">
            <span class="icon material-icons">add</span>
            <span>Add tag</span>
        </a>
    </div>
{% endblock %}
{% block nav_tags %} <a class="nav-item nav-link active" href="{{ url_for('tags_all') }}">Tags</a> {% endblock %}
